.HeaderTitle h1 {
  padding: 0px;
  margin: 0pc;
  z-index: 222;
  background-color: #fff;
  position: relative;
  display: inline;
  width: 146px;

  padding: 30px;
}

.HeaderTitle hr {
  position: relative;
  top: -25px;
}
