.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, auto);
}
.promoBody {
  margin-top: 25px;
  display: flex;
  flex-direction: warp;
  justify-content: space-around;
  width: 100%;
}
